.header {
    grid-area: h;
    background-color: #2f2f39;

}

.header img {
    width: 70px;
}

.loginBlock {
    float: right;
}

.loginBlock a{
    color: lightgray;
}

.loginBlock a.activelink {
    color: #a0b8ff;
}

