.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogsItems {
    padding: 10px;
}
.dialogsItems .active {
    color: #a0b8ff;
}

.dialogsItems .dialog  {
    color: lightgray;
}

.dialogsItems img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.dialog a {
    color: lightgray;
    text-decoration: none;
}

.dialog a.activelink {
    color: #a0b8ff;
}

.messages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.message {
    color: lightgray;
}

.messages img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.messagesLeft {

}

.messagesRight {

}